:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
    font-family: 'Raleway', sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    color: #f5f5f5;
    font-family: 'Monoton', cursive;
    height: 100vh;
    width: 100%;
    background: url(img/concierto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    text-transform: uppercase;
    font-family: 'Monoton', cursive;
}

.navPrincipal ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    background-color: #000000;
}

.navPrincipal ul li {
    list-style: none;
    padding: 1em;
}

.navPrincipal ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.logo {
    height: 90px;
    width: 90px;
}

.logo img {
    height: 150%;
    width: 150%;
    position: relative;
    top: 1.5em;
    left: 3.5em;
}

.container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

main {
    display: grid;
    width: 100%;
    grid-column-gap: .5em;
    grid-template-columns: 33.333% 33.333% 33.3333%;
    grid-template-rows: 45% 45%;
    background-color: #dbdada;
}

main h3 {
    text-transform: capitalize;
    color: #612e1d;
}

.imagenNoticia {
    max-height: 250px;
    width: 100%;
    margin-bottom: 1.5em;
}

main img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    top: 2em;
}

main div {
    padding: 0 .5em .5em .5em;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 0.5em;
    border: 1px #f5f5f5 solid;
    margin: 5px;
    background-color: #f5f5f5;
}

.ler {
    border: none;
    padding: 2em;
    margin-bottom: 2em;
    background-color: orange;
    color: #f5f5f5;
    border-radius: 0.5em;
    width: 100%;
    text-align: center;
}

#suscribirse {
    background-image: url(img/contacus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 1.5em;
    color: #f5f5f5;
}

.read:hover {
    opacity: 0.5;
    cursor: pointer;
}

#suscribirse .sub1 {
    height: 100%;
    width: 70%;
    margin-left: 6em;
}

#suscribirse form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#suscribirse form label {
    padding: 0%;
    margin: 0%;
}

#suscribirse form input {
    border-radius: 0.3em;
    height: 2em;
}

#suscribirse form #comm {
    height: 8em;
}

#suscribirse .sub2 {
    position: relative;
    top: 1em;
    padding: 1em;
    height: 90%;
    border-radius: 10px;
    background-color: #440d5a;
    opacity: 0.5;
}

footer {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #000000;
    color: #f5f5f5;
    justify-content: space-around;
}

footer h4 {
    padding-left: 2em;
}

footer ul {
    list-style: none;
    padding-left: 3em;
}

footer ul li a {
    text-decoration: none;
    color: #f5f5f5;
}

@media only screen and (max-width: 650px) {
    main {
        grid-template-columns: 45% 45%;
    }
}

@media only screen and (max-width: 435px) {
    main {
        grid-template-columns: 100%;
        width: 100%;
    }
    #suscribirse {
        height: 100vh;
        grid-template-columns: 100%;
        grid-template-rows: 45% 45%;
        background-position: right;
    }
}